# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [9]:
chipo['item_price_float'] = chipo.item_price.apply(lambda x:float(x[1:-1]))

In [10]:
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity'])

In [13]:
chipo_unique = chipo_filtered[chipo_filtered.quantity==1]

In [16]:
chipo_unique[chipo_unique.item_price_float > 10.0].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [19]:
chipo_item_price_df = chipo_unique[chipo_unique.item_price_float > 10.0][['item_name', 'item_price_float']]

In [20]:
chipo_item_price_df

                  item_name  item_price_float
5              Chicken Bowl             10.98
7             Steak Burrito             11.75
39            Barbacoa Bowl             11.75
57           Veggie Burrito             11.25
62              Veggie Bowl             11.25
168   Barbacoa Crispy Tacos             11.75
186       Veggie Salad Bowl             11.25
250           Chicken Salad             10.98
606        Steak Salad Bowl             11.89
738       Veggie Soft Tacos             11.25
1132    Carnitas Salad Bowl             11.89
1229    Barbacoa Salad Bowl             11.89

### Step 6. Sort by the name of the item

In [22]:
chipo_item_price_df.sort_values(by='item_name')

                  item_name  item_price_float
39            Barbacoa Bowl             11.75
168   Barbacoa Crispy Tacos             11.75
1229    Barbacoa Salad Bowl             11.89
1132    Carnitas Salad Bowl             11.89
5              Chicken Bowl             10.98
250           Chicken Salad             10.98
7             Steak Burrito             11.75
606        Steak Salad Bowl             11.89
62              Veggie Bowl             11.25
57           Veggie Burrito             11.25
186       Veggie Salad Bowl             11.25
738       Veggie Soft Tacos             11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [23]:
chipo.sort_values(by='item_price', ascending='False').head(1)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
261,113,1,Canned Soda,[Mountain Dew],$1.09,1.09

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [24]:
len(chipo[chipo.item_name == "Veggie Salad Bowl"])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [30]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

,order_id,quantity,item_name,choice_description,item_price,item_price_float
18,9,2,Canned Soda,[Sprite],$2.18,2.18
51,23,2,Canned Soda,[Mountain Dew],$2.18,2.18
162,73,2,Canned Soda,[Diet Coke],$2.18,2.18
171,76,2,Canned Soda,[Diet Dr. Pepper],$2.18,2.18
350,150,2,Canned Soda,[Diet Coke],$2.18,2.18
352,151,2,Canned Soda,[Coca Cola],$2.18,2.18
698,287,2,Canned Soda,[Coca Cola],$2.18,2.18
700,288,2,Canned Soda,[Coca Cola],$2.18,2.18
909,376,2,Canned Soda,[Mountain Dew],$2.18,2.18
1091,450,2,Canned Soda,[Dr. Pepper],$2.18,2.18
1092,450,2,Canned Soda,[Coca Cola],$2.18,2.18
1944,787,2,Canned Soda,[Dr. Pepper],$2.18,2.18
2135,859,2,Canned Soda,[Diet Coke],$2.18,2.18
2235,901,4,Canned Soda,[Sprite],$4.36,4.36
2905,1156,2,Canned Soda,[Coca Cola],$2.18,2.18
2906,1156,2,Canned Soda,[Sprite],$2.18,2.18
3152,1258,2,Canned Soda,[Dr. Pepper],$2.18,2.18
3364,1349,2,Canned Soda,[Coca Cola],$2.18,2.18
3592,1440,2,Canned Soda,[Diet Coke],$2.18,2.18
3866,1550,2,Canned Soda,[Mountain Dew],$2.18,2.18